<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <th:block th:replace="layout/layout :: library"></th:block>
    <link rel="stylesheet" th:href="@{/css/home.css}">
</head>
<body>
<div th:replace="layout/toast :: toast(${message})"></div>
<div th:replace="layout/navbar:: navbar"></div>
Home
<a href="login"> Log out</a>

<div class="hero">
    <div class="hero-content">
        <div class="hero-text">
            <h1>Địa điểm đặt sân thể thao hàng đầu tại Đà Nẵng.</h1>
            <p>Mang đến trải nghiệm đặt sân trực tuyến thuận tiện và linh hoạt cho mọi người.</p>
        </div>
    </div>
</div>

<div class="search-wrapper">
    <form class="search-form" th:action="@{/clients/findField}" method="post">
        <select name="fieldType" >
            <option value="" disabled selected hidden>Chọn loại sân</option>
            <option value="Field5">Sân 5</option>
            <option value="Field7">Sân 7</option>
        </select>
        <input type="date" name="bookingDate" id="bookingDate" required>
        <div class="time-select">
            <select id="startTime" name="startTime">
                <option value="">Giờ bắt đầu</option>
            </select>

            <select id="endTime" name="endTime">
                <option value="">Giờ kết thúc</option>
            </select>
        </div>
        <button type="submit">Tìm kiếm ngay</button>
    </form>
</div>
<div th:replace="layout/date_time_sc:: date_time"></div>
</body>
</html>