<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="admin/layout :: layout(~{::section}, 'Quản lý Booking')">

<section>
    <h3>Quản lý Booking</h3>

    <div class="card">
        <div class="card-body">
            <div th:replace="layout/table :: table(${data}, ${headers}, ${fields})">
            </div>
        </div>
    </div>
</section>

<nav>
    <ul class="pagination">

        <!-- Previous -->
        <li class="page-item"
            th:classappend="${page.first} ? 'disabled'">
            <a class="page-link"
               th:href="@{/admins/booking(page=${page.number - 1})}">
                Previous
            </a>
        </li>

        <!-- Số trang -->
        <li class="page-item"
            th:each="i : ${#numbers.sequence(0, page.totalPages - 1)}"
            th:classappend="${page.number == i} ? 'active'">

            <a class="page-link"
               th:href="@{/admins/booking(page=${i})}"
               th:text="${i + 1}">
            </a>
        </li>

        <!-- Next -->
        <li class="page-item"
            th:classappend="${page.last} ? 'disabled'">
            <a class="page-link"
               th:href="@{/admins/booking(page=${page.number + 1})}">
                Next
            </a>
        </li>

    </ul>
</nav>

</html>
