<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{admin/layout :: layout(~{::section}, 'Quản lý Booking')}">

<section>
    <h3>Quản lý Booking</h3>
    <form th:action="@{/admins/booking}" method="get" th:object="${filter}">
        <select th:field="*{status}">
            <option value="">Tất cả</option>
            <option th:each="status : ${status}"
                    th:value="${status}"
                    th:text="${status}">
            </option>
        </select>
        <input th:field="*{userName}" type="text" placeholder="Tên khách hàng">
        <input type="date" th:field="*{bookingDate}">
        <button type="submit">Lọc</button>
    </form>

    <div class="card">
        <div th:if="${page.totalElements == 0}" class="alert alert-warning text-center">
            Không có booking phù hợp
        </div>
        <div class="card-body">
            <div th:replace="~{layout/table :: table(
        ${data},
        ${headers},
        ${fields}
)}">
            </div>
        </div>
    </div>

    <nav th:if="${page.totalPages > 0}">
        <ul class="pagination justify-content-center">

            <!-- Prev -->
            <li class="page-item"
                th:classappend="${page.first} ? 'disabled'">

                <a class="page-link"
                   th:if="${!page.first}"
                   th:href="@{/admins/booking(
                    page=${page.number - 1},
                    status=${filter.status},
                    userName=${filter.userName},
                    bookingDate=${filter.bookingDate}
               )}">
                    &laquo;
                </a>

                <span class="page-link"
                      th:if="${page.first}">
                &laquo;
            </span>
            </li>


            <!-- Page numbers -->
            <li class="page-item"
                th:each="i : ${#numbers.sequence(0, page.totalPages - 1)}"
                th:classappend="${i == page.number} ? 'active'">

                <a class="page-link"
                   th:text="${i + 1}"
                   th:href="@{/admins/booking(
                    page=${i},
                    status=${filter.status},
                    userName=${filter.userName},
                    bookingDate=${filter.bookingDate}
               )}">
                </a>
            </li>


            <!-- Next -->
            <li class="page-item"
                th:classappend="${page.last} ? 'disabled'">

                <a class="page-link"
                   th:if="${!page.last}"
                   th:href="@{/admins/booking(
                    page=${page.number + 1},
                    status=${filter.status},
                    userName=${filter.userName},
                    bookingDate=${filter.bookingDate}
               )}">
                    &raquo;
                </a>

                <span class="page-link"
                      th:if="${page.last}">
                &raquo;
            </span>
            </li>

        </ul>
    </nav>

</section>



</html>
