<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="admin/layout :: layout(~{::section}, 'Quản lý User')">

<section>
    <h3 class="mb-4">Quản lý User</h3>

    <div class="card shadow-sm">
        <div class="card-body">

            <div class="table-responsive">
                <table class="table table-striped table-hover align-middle">

                    <thead class="table-dark">
                    <tr class="text-center">
                        <th>ID</th>
                        <th class="text-start">Name</th>
                        <th>Phone</th>
                        <th>Type</th>
                        <th>Status</th>
                        <th style="width: 180px;">Action</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="user : ${users}">
                        <td class="text-center fw-bold" th:text="${user.id}"></td>

                        <td th:text="${user.name}"></td>

                        <td class="text-center" th:text="${user.phone}"></td>

                        <!-- Customer Type -->
                        <td class="text-center">
                            <span class="badge"
                                  th:classappend="${user.customerType.name() == 'VIP'} ? ' bg-warning text-dark' : ' bg-secondary'"
                                  th:text="${user.customerType}">
                            </span>
                        </td>

                        <!-- Status -->
                        <td class="text-center">
                            <span class="badge"
                                  th:classappend="${user.status.name() == 'ACTIVE'} ? ' bg-success' : ' bg-danger'"
                                  th:text="${user.status}">
                            </span>
                        </td>

                        <!-- Action -->
                        <td class="text-center">
                            <a class="btn btn-sm btn-outline-primary me-2">
                                Detail
                            </a>

                            <a class="btn btn-sm btn-outline-danger">
                                Block
                            </a>
                        </td>
                    </tr>
                    </tbody>

                </table>
            </div>

        </div>
    </div>
</section>


</html>
