<div th:fragment="table(data, headers, fields)">

  <table class="table table-striped">

    <thead>
    <tr>
      <th th:each="h : ${headers}"
          th:text="${h}">
      </th>
      <th>Action</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="row : ${data}">

      <td th:each="f : ${fields}"
          th:text="${row[f]}">
      </td>
      <td>
        <a th:href="@{/admins/booking/addService/{id}(id=${row.id})}"
           class="btn btn-sm"
           th:classappend="${row.status == 'PENDING'}
                      ? ' btn-info'
                      : ' btn-secondary disabled'"
           th:style="${row.status != 'PENDING'}
                ? 'pointer-events:none;'
                : ''">
          Thêm dịch vụ
        </a>

        <a th:href="@{/admins/booking/cancel/{id}(id=${row.id})}"
           class="btn btn-sm btn-danger"
           onclick="return confirm('Bạn chắc chắn muốn hủy ?')">
          Huỷ booking
        </a>
      </td>
    </tr>
    </tbody>

  </table>

</div>