<div th:fragment="table(data, headers, fields)">

  <table class="table table-striped">

    <thead>
    <tr>
      <th th:each="h : ${headers}"
          th:text="${h}">
      </th>
      <th>Action</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="row : ${data}">

      <td th:each="f : ${fields}"
          th:text="${row[f]}">
      </td>
      <td>
        <a th:if="${row.status == 'PENDING'}"
           th:href="@{/admins/booking/addService/{id}(id=${row.id})}"
           class="btn btn-sm btn-info">
          Thêm dịch vụ
        </a>

        <a th:href="@{/admins/booking/delete/{id}(id=${row.id})}"
           class="btn btn-sm btn-danger"
           onclick="return confirm('Bạn chắc chắn muốn xóa?')">
          Xóa
        </a>
      </td>
    </tr>
    </tbody>

  </table>

</div>